/* link google font: noto serif */
.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* link google font: inter */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    background-color: #F5F8FF;
}

.set-global-width {
    max-width: 1140px;
    margin: 0 auto;
}

.set-sect-margins {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 120px;
}

.col-punch {
    color: #E95A08;
}

.col-white {
    color: #ffffff;
}

.btn-punch {
    background-color: #E95A08;
    border-color: #E95A08;
    padding: 19px 50px;
    font-weight: 600;
    line-height: 1.1875rem;
    color: #ffffff;
    width: 100%;
}

.hero-header {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 4.0625rem;
    line-height: 5.5625rem;
    color: #000000;
    padding-bottom: 15px;
}

.sect-header {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 4.25rem;
    color: #000000;
    padding-bottom: 16px;
}

.sect-copies {
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.6875rem;
    color: rgba(0, 0, 0, 0.5);
}

@keyframes hero-anima {
    0% {
        opacity: 100%
    }

    100% {
        opacity: 10%
    }
}

/* navigation area styles */
.navig-sect {
    /* border: 1px solid cadetblue; */
}

.navig-wrapper {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    max-width: 135px;
    flex: 1;
}

.nav-logo img {
    /* border: 1px solid cadetblue; */
    width: 100%;
    display: block;
    object-fit: cover;
}

.nav-menu-wrapper {
    /* border: 1px solid cadetblue; */
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-wrapper {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu-wrapper li a {
    text-decoration: none;
    color: #252432;
    font-weight: 400;
    line-height: 1.5 rem;
}

.nav-menu-wrapper li:nth-child(2) a,
.nav-menu-wrapper li:nth-child(3) a {
    color: #8987A1;
}

/* hero section styles */
.hero-sect {
    /* border: 1px solid cadetblue; */
}

.hero-sect-wrapper {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: end;
}

.hero-sect-copies {
    width: 50%;
}

.hero-image {
    width: 50%;
}

.hero-image img {
    width: 100%;
    display: block;
    object-fit: cover;
    animation: hero-anima 10s linear infinite alternate;
}

/* our plant section styles */
.ourplants-sect {
    /* border: 1px solid cadetblue; */
    text-align: center;
}

.plantcard-wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: start;
    column-gap: 20px;
    row-gap: 30px;
}

.plantcard {
    /* border: 1px solid cadetblue; */
}

.plant-image {
    /* border: 1px solid cadetblue; */
    /* max-width: 270px;
    max-height: 323px; */
    margin-bottom: 30px;
}

.plant-image img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.plant-desc {
    /* border: 1px solid cadetblue; */
}

.plant-title {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 150%;
    color: #111111;
    margin-bottom: 20px;
}

.plant-price {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 150%;
    color: #111111;
    margin-bottom: 30px;
}

/* flower & plants lover section styles */
.flowerlover-sect {
    /* border: 1px solid cadetblue; */
    /* margin-top: 300px; */
}

.flowerlover-wrapper {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: start;
}

.flowerlover-wrapper ul li {
    margin-left: 30px;
    margin-bottom: 20px;
}

.flowerlover-image {
    /* border: 1px solid cadetblue; */
    width: 50%;
}

.flowerlover-image img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.flowerlover-desc {
    width: 50%;
}

/* latest deals section styles */
.latestdeals-sect {
    /* border: 1px solid cadetblue; */
    text-align: center;
}

.dealcard-wrapper {
    /* border: 1px solid cadetblue; */
    margin-top: 50px;
    display: flex;
    gap: 25px;
    justify-content: center;
    /* align-items: start; */
}

.dealcard-left-col-wrap {
    /* border: 1px solid cadetblue; */
    /* width: 33%; */
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    gap: 25px;
}

.dealcard-left-top-cell {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 206px;
    width: 366px; */
    border-radius: 14px;
    /* overflow: hidden; */
    padding: 65px 75px;
}

.dealcard-left-bottom-cell {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 206px;
    width: 366px; */
    border-radius: 14px;
    /* overflow: hidden; */
    padding: 65px 87px;
}

.dealcard-left-col-wrap h4 {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    color: #ffffff;
}

.dealcard-left-col-wrap a {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #ffffff;
    text-underline-offset: 0.25rem;
    display: block;
    padding: 26px 50px;
}

.dealcard-right-col {
    /* border: 1px solid cadetblue; */
    flex: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 423px;
    width: 753px; */
    border-radius: 22px;
    /* overflow: hidden; */
    padding: 170px 0px;
}

.dealcard-right-col h4 {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.375rem;
    color: #ffffff;
}

.dealcard-right-col a {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.215rem;
    color: #ffffff;
    text-underline-offset: 0.45rem;
    display: block;
    padding: 26px 50px;
}

/* subscribe section styles */
.subscribe-sect {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    text-align: center;
}

.subscribe-wrapper {
    display: flex;
    justify-content: center;
    gap:0px;
    margin: 20px 5px 0px 5px;
}

.subscribe-wrapper input[type="email"] {
    background-color: #ffffff;
    border: none;
    width: 600px;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: rgba(0, 0, 0, 0.5);
}

.subscribe-wrapper input[type="submit"] {
    background-color: #E95A08;
    border: none;
    padding: 8px 50px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #ffffff;
}


/* ------------ responsive css ------------ */
@media screen and (max-width: 768px) {

    body {
        margin-top: 10px;
    }

    .hero-header,
    .sect-header {
        font-size: 1.5rem;
        line-height: 150%;
    }

    .sect-copies {
        font-size: 0.875rem;
        line-height: 150%;
    }

    .hide-on-mobile {
        display: none;
    }

    .navig-sect {
        margin-bottom: 28px;
    }

    .nav-logo {
        max-width: 60px;
        min-width: 25px;
    }

    .nav-menu-wrapper li:nth-child(1),
    .nav-menu-wrapper li:nth-child(2),
    .nav-menu-wrapper li:nth-child(3) {
        display: none;
    }

    .hero-sect {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 65px;
    }

    .hero-sect-wrapper {
        flex-direction: column-reverse;
        align-items: start;
        gap: 28px;
    }

    .hero-sect-copies {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }

    .hero-image {
        width: 100%;
    }

    .ourplants-sect {
        margin-bottom: 65px;
    }

    .plantcard-wrapper {
        margin-top: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    .plant-title {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .plant-price {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .flowerlover-sect {
        margin-bottom: 65px;
    }

    .flowerlover-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .flowerlover-image {
        width: 100%;
    }

    .flowerlover-desc {
        width: 100%;
    }

    .latestdeals-sect {
        margin-bottom: 65px;
    }

    .dealcard-wrapper {
        margin-top: 30px;
        flex-direction: column;
    }

    .dealcard-left-top-cell {
        padding: 65px 0px;
        width: 100%;
    }

    .dealcard-left-bottom-cell {
        padding: 65px 0px;
        width: 100%;
    }

    .dealcard-right-col {
        padding: 65px 0px;
        width: 100%;
    }

    .dealcard-right-col h4 {
        font-size: 1.25rem;
        line-height: 1.6875rem;
    }

    .dealcard-right-col a {
        font-size: 1rem;
        line-height: 1.1875rem;
    }

    .subscribe-wrapper input[type="email"] {
    width: 300px;
}